@charset "utf-8";
/* contact form */
#contact-form .form-group {
	margin-bottom: 20px;
}
#contact-form label {
	display: block;
	margin-bottom: 5px;
}
#contact-form input, #contact-form textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #ddd;
}
#contact-form input:focus, #contact-form textarea:focus {
	/* outline: 1px solid #f7c08a; */
	outline: none;
	border-color: #f7c08a;
}